# ==========================================
# Entornos Virtuales y Dependencias (Python)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Seguridad y Variables de Entorno (¡CRÍTICO!)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env*
secrets.json
*.pem
*.key


