{% extends "base.html" %}

{% block content %}
    <h1>Recuperar contraseña</h1>

    <p>Introduce el correo electrónico asociado a tu cuenta.</p>

    <form method="post">
        <!-- Token de seguridad obligatorio de Django para evitar ataques maliciosos CSRF -->
        {% csrf_token %}
        
        <!-- Renderiza de forma automática el formulario de solicitud de restablecimiento en párrafos -->
        {{ form.as_p }}
        
        <button type="submit">Recuperar contraseña</button>
    </form>
{% endblock %}
